In [51]:
import requests
import json
import pandas as pd
import csv
# from ranked_words_nlp import words

In [9]:
# r = requests.get("https://hedonometer.org/api/v1/words/?format=json&wordlist__title=labMT-en-v2")

In [6]:
with open('ranked_words_nlp.json') as f:
    data = json.load(f)

In [2]:
# json.dumps(r[0], indent=5)

In [4]:
# r[1]

In [11]:
with open('ranked_words_nlp.json') as f:
  data = json.load(f)
 
# reading file
for x in data:
    print(x[50:100])

In [14]:
len(data)

2

In [15]:
g = open('ranked_words_nlp.json')

In [16]:
g

In [27]:
data = json.load(g)
# type(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [26]:
for i in data['meta']:
    print(i, type(i))

limit <class 'str'>
next <class 'str'>
offset <class 'str'>
previous <class 'str'>
total_count <class 'str'>

In [33]:

list = data['objects'][0]

In [37]:
list

{'happs': 5.1,
 'rank': 6648,
 'stdDev': 0.99,
 'text': 'according',
 'word': 'according',
 'word_english': 'according',
 'wordlist': {'date': '2020-03-28',
  'language': 'en',
  'reference': 'https://arxiv.org/abs/2003.12614',
  'referencetitle': "How the world's collective attention is being paid to a pandemic: COVID-19 related 1-gram time series for 24 languages on Twitter",
  'title': 'labMT-en-v2'}}

In [42]:
happs = []
rank = []
stdDev = []
word = []

for i in data['objects']:
    happs.append(i['happs'])
    rank.append(i['rank'])
    stdDev.append(i['stdDev'])
    word.append(i['word'])

In [45]:
len(rank)

10187

In [47]:
word_dict = {
    'happs' : happs,
    'rank' : rank,
    'stdDev' : stdDev,
    'word' : word
}

In [49]:
df = pd.DataFrame(word_dict)

In [59]:
df.head()

   happs  rank  stdDev            word
0    5.1  6648    0.99       according
1    5.1  6649    1.58  administrative
2    5.1  6650    1.25          albert
3    5.1  6651    1.31          alleen
4    5.1  6652    1.30           allen

In [61]:
df['happs'].max()

8.5

In [75]:
is_max = (df['happs'] > 7.0)
is_min = df['happs'] < 3

In [85]:
df[is_max].head(20)

      happs  rank  stdDev         word
3539   8.50     0    0.93     laughter
3540   8.44     1    0.97    happiness
3541   8.42     2    1.11         love
3542   8.30     3    0.99        happy
3543   8.26     4    1.16      laughed
3544   8.22     5    1.37        laugh
3545   8.20     6    1.11     laughing
3546   8.18     7    1.10    excellent
3547   8.18     8    1.16       laughs
3548   8.16     9    1.06          joy
3549   8.16    10    1.08   successful
3550   8.12    11    1.08          win
3551   8.10    12    0.99      rainbow
3552   8.10    13    1.02        smile
3553   8.10    14    1.22          won
3554   8.08    15    0.97     pleasure
3555   8.08    16    1.07       smiled
3556   8.06    17    1.36     rainbows
3557   8.04    18    1.05      winning
3558   8.02    19    1.53  celebration

In [84]:
df[is_min].sort_values(by=['happs']).head(20)

      happs   rank  stdDev         word
3520   1.30  10168    0.84      suicide
3521   1.30  10169    0.91    terrorist
3523   1.34  10171    0.66  coronavirus
3519   1.44  10167    0.79         rape
3518   1.48  10166    0.91    terrorism
3517   1.48  10165    1.01       murder
3516   1.54  10164    1.28        death
3515   1.54  10163    1.07       cancer
3512   1.56  10160    1.20         died
3513   1.56  10161    1.05         kill
3514   1.56  10162    1.23       killed
3511   1.58  10159    1.05      torture
3532   1.60  10180    1.01     pandemic
3524   1.60  10172    0.76        covid
3509   1.64  10157    1.14       deaths
3510   1.64  10158    1.43        raped
3508   1.64  10156    1.01     arrested
3507   1.70  10155    1.36      killing
3526   1.72  10174    0.99     epidemic
3522   1.72  10170    0.97       corona

In [58]:
df.describe()

              happs         rank        stdDev
count  10187.000000  10187.00000  10187.000000
mean       5.373276   5093.00000      1.380187
std        1.092155   2940.87793      0.294701
min        1.300000      0.00000      0.400000
25%        4.900000   2546.50000      1.180000
50%        5.440000   5093.00000      1.360000
75%        6.020000   7639.50000      1.560000
max        8.500000  10186.00000      2.930000

In [57]:
df['happs', 'word'].max()

KeyError: ('happs', 'word')

In [52]:
df.to_csv('feeling_words_nlp')

In [53]:
g.close()

In [54]:
g